.btn {
  display: inline-block;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--btn-bg, #d6d5d5);
  color: var(--btn-color, #000000);
  transition: background-color 0.15s ease-in-out;
}
.btn:hover {
  background-color: var(--btn-bg-hover, #d6d5d5);
}
.btn:active {
  background-color: var(--btn-bg-active, #d6d5d5);
}

.btn-primary {
  --btn-bg: #0084ff;
  --btn-color: #ffffff;
  --btn-bg-hover: #006acc;
  --btn-bg-active: #005cb3;
}

.btn-danger {
  --btn-bg: #dc3545;
  --btn-color: #ffffff;
  --btn-bg-hover: #b02a37;
  --btn-bg-active: #9a2530;
}

.btn-success {
  --btn-bg: #28a745;
  --btn-color: #ffffff;
  --btn-bg-hover: #208637;
  --btn-bg-active: #1c7530;
}

.btn-warning {
  --btn-bg: #ff6f00;
  --btn-color: #ffffff;
  --btn-bg-hover: #cc5900;
  --btn-bg-active: #b34e00;
}

.btn-submit {
  --btn-bg: #7c11f7;
  --btn-color: #ffffff;
  --btn-bg-hover: #8c2ff7;
  --btn-bg-active: #670bd1;
}

.text-primary {
  color: #0084ff;
}

.bg-primary {
  background-color: #0084ff;
}

.text-danger {
  color: #dc3545;
}

.bg-danger {
  background-color: #dc3545;
}

.text-success {
  color: #28a745;
}

.bg-success {
  background-color: #28a745;
}

.text-warning {
  color: #ff6f00;
}

.bg-warning {
  background-color: #ff6f00;
}

.text-white {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.text-black {
  color: #000000;
}

.bg-black {
  background-color: #000000;
}

.text-light {
  color: #d6d5d5;
}

.bg-light {
  background-color: #d6d5d5;
}

.text-dark {
  color: #343333;
}

.bg-dark {
  background-color: #343333;
}

.text-submit {
  color: #7c11f7;
}

.bg-submit {
  background-color: #7c11f7;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

.fs-21 {
  font-size: 21px;
}

.fs-22 {
  font-size: 22px;
}

.fs-23 {
  font-size: 23px;
}

.fs-24 {
  font-size: 24px;
}

.fs-25 {
  font-size: 25px;
}

.fs-26 {
  font-size: 26px;
}

.fs-27 {
  font-size: 27px;
}

.fs-28 {
  font-size: 28px;
}

.fs-29 {
  font-size: 29px;
}

.fs-30 {
  font-size: 30px;
}

.fs-31 {
  font-size: 31px;
}

.fs-32 {
  font-size: 32px;
}

.fs-33 {
  font-size: 33px;
}

.fs-34 {
  font-size: 34px;
}

.fs-35 {
  font-size: 35px;
}

.fs-36 {
  font-size: 36px;
}

.fs-37 {
  font-size: 37px;
}

.fs-38 {
  font-size: 38px;
}

.fs-39 {
  font-size: 39px;
}

.fs-40 {
  font-size: 40px;
}

.fs-41 {
  font-size: 41px;
}

.fs-42 {
  font-size: 42px;
}

.fs-43 {
  font-size: 43px;
}

.fs-44 {
  font-size: 44px;
}

.fs-45 {
  font-size: 45px;
}

.fs-46 {
  font-size: 46px;
}

.fs-47 {
  font-size: 47px;
}

.fs-48 {
  font-size: 48px;
}

.fs-49 {
  font-size: 49px;
}

.fs-50 {
  font-size: 50px;
}

.fs-51 {
  font-size: 51px;
}

.fs-52 {
  font-size: 52px;
}

.fs-53 {
  font-size: 53px;
}

.fs-54 {
  font-size: 54px;
}

.fs-55 {
  font-size: 55px;
}

.fs-56 {
  font-size: 56px;
}

.fs-57 {
  font-size: 57px;
}

.fs-58 {
  font-size: 58px;
}

.fs-59 {
  font-size: 59px;
}

.fs-60 {
  font-size: 60px;
}

.fs-61 {
  font-size: 61px;
}

.fs-62 {
  font-size: 62px;
}

.fs-63 {
  font-size: 63px;
}

.fs-64 {
  font-size: 64px;
}

.fs-65 {
  font-size: 65px;
}

.fs-66 {
  font-size: 66px;
}

.fs-67 {
  font-size: 67px;
}

.fs-68 {
  font-size: 68px;
}

.fs-69 {
  font-size: 69px;
}

.fs-70 {
  font-size: 70px;
}

.fs-71 {
  font-size: 71px;
}

.fs-72 {
  font-size: 72px;
}

.fs-73 {
  font-size: 73px;
}

.fs-74 {
  font-size: 74px;
}

.fs-75 {
  font-size: 75px;
}

.fs-76 {
  font-size: 76px;
}

.fs-77 {
  font-size: 77px;
}

.fs-78 {
  font-size: 78px;
}

.fs-79 {
  font-size: 79px;
}

.fs-80 {
  font-size: 80px;
}

.fs-81 {
  font-size: 81px;
}

.fs-82 {
  font-size: 82px;
}

.fs-83 {
  font-size: 83px;
}

.fs-84 {
  font-size: 84px;
}

.fs-85 {
  font-size: 85px;
}

.fs-86 {
  font-size: 86px;
}

.fs-87 {
  font-size: 87px;
}

.fs-88 {
  font-size: 88px;
}

.fs-89 {
  font-size: 89px;
}

.fs-90 {
  font-size: 90px;
}

.fs-91 {
  font-size: 91px;
}

.fs-92 {
  font-size: 92px;
}

.fs-93 {
  font-size: 93px;
}

.fs-94 {
  font-size: 94px;
}

.fs-95 {
  font-size: 95px;
}

.fs-96 {
  font-size: 96px;
}

.fs-97 {
  font-size: 97px;
}

.fs-98 {
  font-size: 98px;
}

.fs-99 {
  font-size: 99px;
}

.fs-100 {
  font-size: 100px;
}

.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.shadow-none {
  box-shadow: none;
}

.shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.p-0 {
  padding: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.m-0 {
  margin: 0px;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.p-4 {
  padding: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.m-4 {
  margin: 4px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.my-4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.p-8 {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m-8 {
  margin: 8px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p-12 {
  padding: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m-12 {
  margin: 12px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.p-16 {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p-20 {
  padding: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.m-20 {
  margin: 20px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-24 {
  padding: 24px;
}

.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p-28 {
  padding: 28px;
}

.px-28 {
  padding-left: 28px;
  padding-right: 28px;
}

.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.m-28 {
  margin: 28px;
}

.mx-28 {
  margin-left: 28px;
  margin-right: 28px;
}

.my-28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.p-32 {
  padding: 32px;
}

.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.m-32 {
  margin: 32px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.my-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p-36 {
  padding: 36px;
}

.px-36 {
  padding-left: 36px;
  padding-right: 36px;
}

.py-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.m-36 {
  margin: 36px;
}

.mx-36 {
  margin-left: 36px;
  margin-right: 36px;
}

.my-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.p-40 {
  padding: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m-40 {
  margin: 40px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.p-44 {
  padding: 44px;
}

.px-44 {
  padding-left: 44px;
  padding-right: 44px;
}

.py-44 {
  padding-top: 44px;
  padding-bottom: 44px;
}

.m-44 {
  margin: 44px;
}

.mx-44 {
  margin-left: 44px;
  margin-right: 44px;
}

.my-44 {
  margin-top: 44px;
  margin-bottom: 44px;
}

.p-48 {
  padding: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.my-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.p-52 {
  padding: 52px;
}

.px-52 {
  padding-left: 52px;
  padding-right: 52px;
}

.py-52 {
  padding-top: 52px;
  padding-bottom: 52px;
}

.m-52 {
  margin: 52px;
}

.mx-52 {
  margin-left: 52px;
  margin-right: 52px;
}

.my-52 {
  margin-top: 52px;
  margin-bottom: 52px;
}

.p-56 {
  padding: 56px;
}

.px-56 {
  padding-left: 56px;
  padding-right: 56px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.m-56 {
  margin: 56px;
}

.mx-56 {
  margin-left: 56px;
  margin-right: 56px;
}

.my-56 {
  margin-top: 56px;
  margin-bottom: 56px;
}

.p-60 {
  padding: 60px;
}

.px-60 {
  padding-left: 60px;
  padding-right: 60px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.m-60 {
  margin: 60px;
}

.mx-60 {
  margin-left: 60px;
  margin-right: 60px;
}

.my-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.p-64 {
  padding: 64px;
}

.px-64 {
  padding-left: 64px;
  padding-right: 64px;
}

.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.m-64 {
  margin: 64px;
}

.mx-64 {
  margin-left: 64px;
  margin-right: 64px;
}

.my-64 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.p-68 {
  padding: 68px;
}

.px-68 {
  padding-left: 68px;
  padding-right: 68px;
}

.py-68 {
  padding-top: 68px;
  padding-bottom: 68px;
}

.m-68 {
  margin: 68px;
}

.mx-68 {
  margin-left: 68px;
  margin-right: 68px;
}

.my-68 {
  margin-top: 68px;
  margin-bottom: 68px;
}

.p-72 {
  padding: 72px;
}

.px-72 {
  padding-left: 72px;
  padding-right: 72px;
}

.py-72 {
  padding-top: 72px;
  padding-bottom: 72px;
}

.m-72 {
  margin: 72px;
}

.mx-72 {
  margin-left: 72px;
  margin-right: 72px;
}

.my-72 {
  margin-top: 72px;
  margin-bottom: 72px;
}

.p-76 {
  padding: 76px;
}

.px-76 {
  padding-left: 76px;
  padding-right: 76px;
}

.py-76 {
  padding-top: 76px;
  padding-bottom: 76px;
}

.m-76 {
  margin: 76px;
}

.mx-76 {
  margin-left: 76px;
  margin-right: 76px;
}

.my-76 {
  margin-top: 76px;
  margin-bottom: 76px;
}

.p-80 {
  padding: 80px;
}

.px-80 {
  padding-left: 80px;
  padding-right: 80px;
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.m-80 {
  margin: 80px;
}

.mx-80 {
  margin-left: 80px;
  margin-right: 80px;
}

.my-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.p-84 {
  padding: 84px;
}

.px-84 {
  padding-left: 84px;
  padding-right: 84px;
}

.py-84 {
  padding-top: 84px;
  padding-bottom: 84px;
}

.m-84 {
  margin: 84px;
}

.mx-84 {
  margin-left: 84px;
  margin-right: 84px;
}

.my-84 {
  margin-top: 84px;
  margin-bottom: 84px;
}

.p-88 {
  padding: 88px;
}

.px-88 {
  padding-left: 88px;
  padding-right: 88px;
}

.py-88 {
  padding-top: 88px;
  padding-bottom: 88px;
}

.m-88 {
  margin: 88px;
}

.mx-88 {
  margin-left: 88px;
  margin-right: 88px;
}

.my-88 {
  margin-top: 88px;
  margin-bottom: 88px;
}

.p-92 {
  padding: 92px;
}

.px-92 {
  padding-left: 92px;
  padding-right: 92px;
}

.py-92 {
  padding-top: 92px;
  padding-bottom: 92px;
}

.m-92 {
  margin: 92px;
}

.mx-92 {
  margin-left: 92px;
  margin-right: 92px;
}

.my-92 {
  margin-top: 92px;
  margin-bottom: 92px;
}

.p-96 {
  padding: 96px;
}

.px-96 {
  padding-left: 96px;
  padding-right: 96px;
}

.py-96 {
  padding-top: 96px;
  padding-bottom: 96px;
}

.m-96 {
  margin: 96px;
}

.mx-96 {
  margin-left: 96px;
  margin-right: 96px;
}

.my-96 {
  margin-top: 96px;
  margin-bottom: 96px;
}

.p-100 {
  padding: 100px;
}

.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.m-100 {
  margin: 100px;
}

.mx-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.my-100 {
  margin-top: 100px;
  margin-bottom: 100px;
}/*# sourceMappingURL=main.css.map */